

	/*MAINSTYLES OF LAB7 AND GROCERY SHOPPING*/






/*IMPORT NECESSARY FEATURES*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*BEGIN BODY*/

body {
	width:100%;
	max-height:250px !important;
	min-height:250px !important;
	font-family: Montserrat, sans-serif;
	text-align:center;
}

h1 {
	font-size:3em;
	margin:15px auto;
	margin-bottom:30px;
}

.product_item {
	padding: 5px 15px;
}

.product_item:hover {
	padding:5px 0px;
	box-shadow: 12px 0px 15px -4px rgba(80, 81, 81, 0.8), 
				-12px 0px 8px -4px rgba(80, 81, 81, 0.8),
				0 9px 8px -4px rgba(80, 81, 81, .8), 
				0 -9px 0px 0px white; 

}

.product_item img {
	width:60%;
	max-height:80%;
	margin:0px auto;
}

h3 {
	margin:0px auto;
	margin-bottom:20px;
}

button {margin:20px auto;
}

.show_and_total {
	padding:75px auto;
	margin-bottom:20px;
}

table {
	/*border:2px solid black;*/
	border-radius: 10px;
	box-shadow: 2px 2px 5px 5px #ccc,
				-2px -2px 5px 5px #ccc;
	width: 30%;
	margin:30px auto;
	padding:5px 100px;
}

table thead {
	/*text-align:center;*/
	text-decoration: underline;
}


























